<style>
body {background: url(/static/0.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: orange; color:black}
</style>
{% extends "base.html" %}
{% block content %}
  <h1 style="text-align: center">О ЧЕМ ПОЙДЕТ РЕЧЬ</h1>
  <h3>{{ name }} Бобр — крупный грызун, приспособленный к полуводному образу жизни. Длина его тела достигает 1—1,3 м, высота в плече — до 35,5 см, а масса — до 30—32 кг. Половой диморфизм выражен слабо, самки крупнее. Тело у бобра приземистое, с укороченными пятипалыми конечностями; задние значительно сильнее передних</h3>
  <p style="color:brown">это сайт на Flask</p>
<img src="static/5.jpg" alt="centre">
{% endblock %}